/* === GENERAL === */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: white;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/* === NAVIGATION === */
nav li {
	list-style: none;
	padding: 0.7rem;
	border-bottom: 2px solid lightgreen;
	font-size: 1rem;
}

nav li:hover {
	color: red;
	background-color: white;
}

nav li a {
	text-decoration: none;
	color: inherit;
}

nav a.active {
	color: red;
}

/* === MAIN === */
main {
	line-height: 1.5rem;
	margin: 1.5rem 0;
}

main figure img {
	width: 200px;
	margin: 3rem;
	border: 2px solid lightgreen;
	border-radius: 50%;
}

main figure img:hover {
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}

main section h1 {
	font-size: 1.5rem;
	padding: 1.5rem;
	letter-spacing: 0.1rem;
}

/* === MEDIA QUERIES === */
@media (min-width: 768px) and (max-width: 992px) {
	body {
		width: 100%;
	}

	nav li {
		display: inline-block;
	}

	main {
		width: 80%;
		margin: 2rem auto;
		line-height: 1.8rem;
	}

	main figure img {
		width: 300px;
	}

	main section h1 {
		font-size: 2rem;
	}

	main section p {
		font-size: 1.2rem;
	}
}

@media (min-width: 993px) {
	body {
		display: initial;
	}

	nav {
		display: block;
		float: left;
		width: 20%;
		margin: 2rem 0 0 2rem;
	}

	nav li {
		padding: 3rem;
	}

	nav li a {
		font-size: 1.3rem;
	}

	main {
		float: left;
		width: 70%;
		border-left: 2px solid lightgreen;
		margin: 2rem;
		line-height: 2rem;
		padding-bottom: 2rem;
	}

	main figure img {
		width: 400px;
	}

	main section {
		width: 90%;
		margin: 0 auto;
	}

	main section h1 {
		font-size: 2.5rem;
		padding: 1.5rem;
		letter-spacing: 0.3rem;
		margin: 2rem 0;
	}

	main section p {
		font-size: 1.3rem;
	}
}
